@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&family=Nanum+Gothic&family=Roboto+Mono:wght@200&display=swap");

* {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Roboto Mono", monospace;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #142d4c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
